@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
body {
	background: #fafbfb;
	font-family: "Raleway", sans-serif;
	white-space: pre-line;
}

.qrBox {
	width: fit-content;
	margin: auto;
	margin-top: 10vh;
	text-align: center;
	font-size: 1.2rem;
}

.qrBoxBottomText {
	margin-top: 3rem;
}

.qrBoxTopText {
	margin-bottom: 3rem;
}

.bolder {
	font-weight: 500;
}

.mainWrapper {
	display: flex;
	flex-flow: row;
}

.mainWrapper > div {
	width: 33.33%;
}

.dot {
	height: 0.5rem;
	width: 0.5rem;
	background-color: #ffc856;
	border-radius: 50%;
	display: inline-block;
}
.headerText {
	font-size: 2rem;
	text-align: center;
}

.file {
	margin-bottom: 10vh;
}

.file > span {
	margin-right: 0.5rem;
}

.fileOwner {
	font-weight: 500;
}

.ownerInfor {
	float: right;
}

.imgFile {
	display: flex;
	align-items: baseline;
}

img.fileContent {
	max-width: 400px;
	max-height: 500px;
}

.delIcon {
	height: 1rem;
	width: 1rem;
}

.delIcon:hover {
	cursor: pointer;
	color: red;
}

.conQRBox,
.connList {
	width: fit-content;
	margin: auto;
	text-align: center;
}

.inputArea textarea {
	width: 95%;
	height: 6vh;
	border-color: #568dff;
	border: none;
	box-shadow: 0px 0px 3px 2px rgb(0 0 0 / 10%);
	border-radius: 5px;
	font-family: "Raleway";
	padding: 1rem;
	font-size: 1.2rem;
}

.inputArea {
	text-align: center;
	margin-top: 5vh;
}

button {
	height: 2rem;
	border-radius: 5px;
	border: none;
	float: left;
	width: 5rem;
	box-shadow: 0px 0px 3px 2px rgb(0 0 0 / 10%);
}

.fileBtn {
	maargin-right: 1.5rem;
	width: fit-content;
}

.shareBtn {
	margin-right: 1.5rem;
	width: 10rem;
	background: #568dff;
	color: white;
}

.resetBtn {
	float: unset;
	width: 10rem;
}

.btns {
	margin: 0.5rem;
	width: 100%;
	float: left;
	margin-bottom: 3rem;
	margin-right: 4rem;
}

button:hover {
	cursor: pointer;
}

button:focus,
textarea:focus {
	outline-color: #568dff14;
	box-shadow: 0px 0px 0px 4px rgb(0 0 0 / 10%);
}

button:hover {
	outline-color: #568dff14;
	box-shadow: 0px 0px 7px 4px rgb(0 0 0 / 10%);
}

.shareBtn:hover {
	background: #266cff;
}

textarea:focus {
	box-shadow: 0px 0px 4px 6px rgb(0 0 0 / 10%);
}

@media screen and (max-device-width: 800px) {
	.midCol {
		width: 80% !important;
		margin: 3rem;
		font-size: 0.7rem;
	}
	.rightCol {
		display: none;
	}
}

.ctrlBtns {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.resetBtn {
	float: unset;
	width: 10rem;
	margin-bottom: 1.5rem;
	width: 13rem;
	height: 2.5rem;
	font-size: 1.2rem;
	font-family: "Raleway";
	font-weight: 400;
	color: #252525;
}

.files {
	display: flex;
	flex-flow: column;
	margin-top: -0.5rem;
}

.closeBtn {
	float: right;
	margin-bottom: 0.2rem;
}

.clickable:hover {
	cursor: pointer;
	color: #1e96dc;
}

.header {
	font-size: 2.5rem;
	font-weight: 500;
	color: #212121;
	border-bottom: 0.1px solid #4c4c4c;
}

.showForm {
	position: relative;
	bottom: 2%;
	font-size: 1.2rem;
	margin-left: 1.4rem;
}
